/* src/App.css */

/* Ensure your content doesn’t get hidden behind the fixed header */
main {
  margin-top: 70px; /* Adjust based on the height of your Header */
}

/* Body padding to account for the fixed navbar */
body {
  margin: 0;
}

/* Ensure the header is positioned correctly and content does not overlap */
.header-navbar {
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000; /* Keeps the header above other content */
}

/* Add padding to the top of the main content to avoid overlap with the header */
.app-content {
  padding-top: 56px; /* Adjust this based on the height of your header */
}

/* Additional CSS */
.jumbotron {
  background-color: #f8f9fa;
}

.text-danger {
  color: #dc3545;
}

/* Responsive design for different screen sizes */
@media (max-width: 767px) {
  .text-md-left, .text-md-right {
    text-align: center;
  }
}
